.junior-t1{
    font-size: 45px;
    color:#d41f1f;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.junior-t3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    color:#334aa4;
}